
.project-layout-container{
    min-height: calc(100vh - 4rem - 56px);
    padding:0 10%;
    padding-top: calc(4rem + 56px);

}

 .project-content {
    padding-top: calc(56px + 30v);
    margin: auto;
 }